:root {
    --yellow-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --gray-color: hsl(0, 0%, 42%);
    --black-color: hsl(0, 0%, 7%);
    --font-size: 16px;
    --big-border-radius: 20px;
    --small-border-radius: 10px;
    --padding-24: 24px;
    --padding-12: 12px;
}

* {
    margin: 0;
    font-family: "figtree", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--yellow-color);
}

.card-container {
    max-width: 350px;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: var(--padding-24);
    border-radius: var(--big-border-radius);
    row-gap: 24px;
    transition: transform 0.3s ease;
}

.card-desc-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.btn {
    max-width: 80px;
    background-color: var(--yellow-color);
    border: none;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
}

.card-profile-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.article-image {
    border-radius: var(--small-border-radius);
}

.desc {
    font-size: 16px;
}

@media(max-width : 350px) {
    .desc {
        font-size: 14px;
    }

    .card-container {
        transform: none;
    }
}

.title {
    font-weight: 800;
    transition: color 0.3s ease;
}

.date {
    font-size: 14px;
}

.card-container:hover .title {
    color: var(--yellow-color);
}

.card-container:hover {
    box-shadow: 8px 8px 0 black;
    border: 1px solid black;
    /* transform: scale(1.1); */
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}